pipeline/10 Foe Each activity.json
{
	"name": "10 Foe Each activity",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('InputArray')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Result",
								"value": {
									"value": "@mul(item(), 2)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						}
					]
				}
			}
		],
		"variables": {
			"InputArray": {
				"type": "Array",
				"defaultValue": [
					5,
					10,
					15,
					20,
					25,
					30
				]
			},
			"Result": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-18T07:40:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}