pipeline/HW_1.json
{
	"name": "HW_1",
	"properties": {
		"activities": [
			{
				"name": "Set a",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "a",
					"value": 2
				}
			},
			{
				"name": "Set b",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "b",
					"value": 3
				}
			},
			{
				"name": "whole square",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set a",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set b",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "whole square",
					"value": {
						"value": "@mul(add(variables('a'), variables('b')), add(variables('a'), variables('b')))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"a": {
				"type": "Integer"
			},
			"b": {
				"type": "Integer"
			},
			"whole square": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-08T13:56:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}